doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='https://fonts.googleapis.com/css?family=Quicksand:300,700', rel='stylesheet')
    body
        block content

        script(src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.2.js")
        script(src='/javascripts/move_objects.js')
        script(src='/javascripts/export_list.js')
        script(src='/javascripts/modal.js')