	body {font:13px 'Helvetica',arial,clean,sans-serif;*font-size:large;*font:large;}table {font-size:50px;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.22em;}
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}/*ol,ul {list-style:none;}*/caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
	
.container {
    width: 80%;
    height: 1px;
    background: white;
    margin: auto;
    padding: 10px;
}
.one {
    width: 15%;
    height: 100px;
    background: white;
    float: left;
    margin-left: 41%;
}
.two {
    width: auto;
    height: 100px;
    background: white;
    margin-left: 65%;
}

option {
  line-height: 200%;
}
	
	body 										{color:#ffffff; background: #ffffff; line-height:5;}
	p												{margin:0 0 20px;}
	a												{color:#636363;}
	a:hover									{text-decoration:none;}
	strong									{font-weight:bold;}
	em											{font-style: italic;}
	h1,h2,h3,h4,h5,h6				{font-weight:bold;}
	h1											{font-size:197%; margin:20px 20px; color: #4f6f6c; width: 250px;}
	h2											{font-size:174%; margin:20px 0; color:#4f6f6c;}
	h3											{font-size:152%; margin:10px 0;}
	h4											{font-size:129%; margin:10px 0;}
	pre 										{background:#eee; margin:0 0 20px; padding:20px; border:1px solid #ccc; font-size:100%; overflow:auto;}
	code										{font-size:100%; margin:0; padding:0;}
	ul, ol									{margin:10px 0 10px 25px;}
	ol li										{margin:0 0 10px;}

    div#titles{ background: #fff; padding-left: 900px; padding-top: 1px;  }
    div#titles2{ background: #fff; padding-left: 600px; padding-top: 1px; padding-bottom: 1px; padding-right: 1px;  }
	div#wrapper 							{background:#fff; width:360px; margin:0 auto; padding:20px; border:20px solid #fff; border-width:0 10px 10px 10px;}
div#wrapper2 							{background:#fff; width:300px; margin-top:20%; padding:1px; border:20px solid #fff; border-width:0 10px 10px 10px; }
	div#header								{position:relative; border-bottom:10px dotted; margin:50px 1280px 0; padding:1 1 1;}
	div#header p							{margin:0; padding:0;}
	div#header h1							{margin:0; padding:0;}
	ul#nav										{position:absolute; top:0; right:0; list-style:none; margin:0; padding:0;}
	ul#nav li									{display:inline; padding:0 0 0 5px;}
	ul#nav li a								{}
	div#content								{}
	div#footer								{margin:40px 0 0; border-top:1px dotted; padding:10px 0 0;}
	.left {float:left;}
	.right {float:right;}
	.clear {clear:both;}
	
	
	/* multiselect styles */
	.multiselect {
		width: 650px;
		height: 300px;
	}
	
	#switcher {
		margin-top: 20px;
	}
	
	form {margin: 0; padding: 0;}
    form2 {margin-top: 0; padding: 0;}
