* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

/* ---------- PLATFORM ----------*/

.title {
    font-size: 26px;
    background-color: #ffd237;
    color: #363636;
    padding: 20px;
    font-weight: 700;
}

.title-pair {
    color: white;
    background-color: #9d0086;
}

/* ---------- LOGIN BOX ----------*/

#login{
    width: 300px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -350px;
}

.login-title{
    text-align: center;
    font-weight: 300;
    padding: 20px;
}

.login-form{
    background: #ffffff;
    margin: 15px 0;
    padding: 0 20px;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px #999;
    height: 400px;
}
.login-title-login{
     text-align: center;
     padding: 10px 0;
     font-weight: 300;
}

.form-group{
    margin: 10px 0;
}

.form-control{
    width: 94%;
    padding: 3%;
    font-size: 15px;
}

.login-button{
    width: 100%;
    padding: 3%;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background: #9d0086;
    color: white;
    margin: 5px 0;
}
.signup-button{
    width: 100%;
    padding: 3%;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background: #9d0086;
    color: white;
    margin: 5px 0 20px 0;
}

.social{
    width: 30%;
    height: 70px;
    background: #9d0086;
    float: left;
    margin-top: -10px;
}

.social-img{
    width: 60%;
    margin: 15% 20%;
}

.social-google{
    margin: -10px 5% 0 5%;
}

/* ---------- PROFILE VIEW ---------- */

#profile{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -400px;
}
.profile-title{
    text-align: center;
    font-weight: 300;
    padding: 20px;
}
.profile{
    background: #ffffff;
    margin: 15px 0;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px #999;
}
.profile-cover{
    background: #ffd237;
    height: 60px;
}
.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -50px auto 0 auto;
}
.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-details{
    width: 84%;
    padding: 0 8%;
    min-height: 40px;
    margin: 20px 0;
}
.profile-details img{
    float: left;
    height: 40px;
    margin: 0 auto;
}
.profile-details img.password-edit{
    float: right;
    height: 28px;
    margin-top: 12px;
}
.profile-details .profile-details-title{
    font-size: 12px;
    margin-left: 50px;
}
.profile-details .profile-details-value{
    font-size: 22px;
    margin-left: 50px;
}
.profile-details-createdlist{
    min-height: 30px;
    padding: 10px;
}
.profile-details-createdlist:hover{
    background: #eeeeee;
}
.profile-details-createdlist .created-list-name{
    float: left;
}
.profile-details-createdlist img {
    float: right;
    height: 28px;
    width: auto;
}

/* ---------- SIGNUP BOX ----------*/

#signup{
    width: 300px;
    min-height: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -380px;
}
.signup-title{
    text-align: center;
    font-weight: 300;
    padding: 20px;
}
.signup-form{
    background: #ffffff;
    margin: 15px 0;
    padding: 0 20px;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px #999;
}
.signup-title-signup{
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
}

/* ---------- PLATFORM ---------- */

#platform{
    width: 80vw;
    height: 80vh;
    border: 1px solid grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40vh;
    margin-left: -40vw;
    background: white;
    font-size: 18px;
}
.image-col{
    width: 20%;
    float: left;
    height: 100%;
}
.image-item {
    width: 90%;
    padding: 5% 5%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #363636;
}
.image-item:hover {
    background-color: #555555;
    color: white;
}
.image-image {
    width: 50px;
    height: 50px;
    float: left;
}
.image-name {
    margin-left: 60px;
    font-size: 22px;
}
.image-category {
    margin-left: 60px;
    font-size: 14px;
}
.selected-col{
    width: 60%;
    float: left;
    height: 100%;
    overflow: auto;
}
.model-col{
    width: 20%;
    float: right;
    height: 100%;
    overflow: auto;
}
.model-item {
    width: 90%;
    padding: 5% 5%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #363636;
}
.model-item:hover {
    background-color: #555555;
    color: white;
}
.model-image {
    width: 50px;
    height: 50px;
    float: left;
}
.model-name {
    margin-left: 60px;
    font-size: 22px;
}
.model-category {
    margin-left: 60px;
    font-size: 14px;
}
.image-col .top-bar{
    height: 60px;
    background: #ffd237;
}
.selected-col .top-bar{
    height: 60px;
    background: #9d0086;
}
.model-col .top-bar{
    height: 60px;
    background: #ffd237;
}

.fixed-top-bar{
    position: fixed;
    width: 16%;
    background: white;
}
.selected-col .fixed-top-bar{
    width: 48%;
    background: white;
}

.top-bar-title{
    background: white;
    width: 100px;
    height: 100px;
    margin: -50px auto 0 auto;
    border-radius: 50%;
}
.top-bar-image{
    width: 60px;
    height: 60px;
    margin: 20px 20px;
}
.platform-hr{
    width: 30%;
    margin: 10px auto;
    opacity: 0.3;
}
.half-left{
    width: 44%;
    float: left;
    padding: 0 3%;
}
.half-right{
    width: 44%;
    float: right;
    padding: 0 3%;
}
input[id='input-list-name']{
    padding: 3%;
    font-size: 18px;
    font-weight: 300;
    width: 89%;
}
.list-name{
    padding: 3% 0;
}
.created-list-name-platform{
    min-height: 50px;
}
.list{
    margin-top: 140px;
}
.selected-col .list{
    margin-top: 200px;
}
.export-button {
    width: 200px;
    color: white;
    background-color: #9d0086;
    font-size: 22px;
    position: absolute;
    bottom: 20px;
    right: 23%;
    font-weight: 300;
    padding: 1%;
}
.reset-button {
    width: 200px;
    color: white;
    background-color: #9d0086;
    font-size: 22px;
    position: absolute;
    bottom: 20px;
    left: 23%;
    font-weight: 300;
    padding: 1%;
}














/*!* ---------- IMAGE LIST ---------- *!*/

/*#col-img {*/
    /*width: 20%;*/
    /*float: left;*/
    /*background-color: #363636;*/
    /*height: 100vh;*/
/*}*/

/*.image-item {*/
    /*width: 90%;*/
    /*padding: 5% 5%;*/
    /*height: 50px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.image-item:hover {*/
    /*background-color: #555555;*/
/*}*/

/*.image-image {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*float: left;*/
/*}*/

/*.image-name {*/
    /*color: #ffd237;*/
    /*margin-left: 60px;*/
    /*font-weight: 700;*/
/*}*/

/*!* ---------- LIST PAIRS ---------- *!*/

/*#col-pair {*/
    /*width: 60%;*/
    /*float: left;*/
    /*overflow: auto;*/
    /*height: 100vh;*/
/*}*/

/*.fifty {*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/

/*#list-name .fifty{*/
    /*width: 48%;*/
    /*padding: 1%;*/
    /*border-bottom: 1px solid black;*/
    /*height: 40px;*/
/*}*/

/*#list-name .fifty p{*/
    /*padding: 2% 0;*/
/*}*/

/*#list-name .fifty input{*/
    /*width: 90%;*/
    /*height: 20px;*/
    /*padding: 1%;*/
/*}*/

/*#selected-images {*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/

/*#selected-images .image-name{*/
    /*color: #9d0086;*/
    /*font-weight: 700;*/
/*}*/
/*#selected-images .image-item:hover{*/
    /*background-color: #dddddd;*/
/*}*/

/*#selected-models {*/
    /*width: 50%;*/
    /*float: right;*/
/*}*/

/*#selected-models .model-name{*/
    /*color: #9d0086;*/
    /*font-weight: 700;*/
/*}*/

/*#selected-models .model-category{*/
    /*color: #363636;*/
/*}*/

/*#selected-models .model-item:hover{*/
    /*background-color: #dddddd;*/
/*}*/

/*.export-button{*/
    /*width: 200px;*/
    /*height: 40px;*/
    /*color: white;*/
    /*background-color: #9d0086;*/
    /*font-size: 20px;*/
    /*border-radius: 10px;*/
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*right: 23%;*/
/*}*/

/*.reset-button{*/
    /*width: 100px;*/
    /*height: 40px;*/
    /*color: white;*/
    /*background-color: #9d0086;*/
    /*font-size: 20px;*/
    /*border-radius: 10px;*/
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*left: 23%;*/
/*}*/

/*!* ---------- MODEL SIDE ---------- *!*/

/*#col-mod {*/
    /*width: 20%;*/
    /*float: left;*/
    /*background-color: #363636;*/
    /*height: 100vh;*/
    /*overflow: auto;*/
/*}*/

/*.model-item {*/
    /*width: 90%;*/
    /*padding: 5% 5%;*/
    /*height: 50px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.model-item:hover {*/
    /*background-color: #555555;*/
/*}*/

/*.model-image {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*float: left;*/
/*}*/

/*.model-name {*/
    /*color: #ffd237;*/
    /*margin-left: 60px;*/
    /*font-weight: 700;*/
/*}*/

/*.model-category {*/
    /*color: white;*/
    /*margin-left: 60px;*/
/*}*/
